.book-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.description {
  max-width: 300px;
}

.details {
  font-size: 12px;
}

.price {
  font-size: 1rem;
}
